{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AT-TPC DAQ{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% block sidebar %}
                <div class="sidebar-app-name">AT-TPC DAQ</div>
                <ul class="nav nav-sidebar">
                    <li class="{% active request 'status' %}">
                        <a href="{% url 'daq/status' %}">
                            <span class="fa fa-home"></span> Status
                        </a>
                    </li>
                    <li class="{% active request 'run' %}">
                        <a href="{% url 'daq/run_list' %}">
                            <span class="fa fa-list-alt"></span> Run metadata
                        </a>
                    </li>
                    <li class="{% active request 'measurements' %}">
                        <a href="{% url 'daq/measurement_chart' %}">
                            <span class="fa fa-table"></span> Measurements
                        </a>
                    </li>
                    <li class="{% active request 'logs' %}">
                        <a href="{% url 'logs/list' %}">
                            <span class="fa fa-exclamation-triangle"></span> Error logs
                        </a>
                    </li>
                    <li class=""><a><span class="fa fa-wrench"></span> Setup</a>
                        <ul class="nav nav-sidebar-subnav">
                            <li class="{% active request 'experiment_settings' %}"><a href="{% url 'daq/experiment_settings' %}">Experiment settings</a></li>
                            <li class="{% active request 'easy_setup' %}"><a href="{% url 'daq/easy_setup' %}">Easy setup</a></li>
                            <li class="{% active request 'ecc_servers' %}"><a href="{% url 'daq/ecc_server_list' %}">ECC servers</a></li>
                            <li class="{% active request 'data_routers' %}"><a href="{% url 'daq/data_router_list' %}">Data routers</a></li>
                            <li class="{% active request 'sources' %}"><a href="{% url 'daq/data_source_list' %}">Data sources</a></li>
                            <li class="{% active request 'observables' %}"><a href="{% url 'daq/observables_list' %}">Observables</a></li>
                        </ul>
                    </li>
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                <div class="navbar navbar-default">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <span class="fa fa-user"></span> {{ user.username }} <span class="fa fa-caret-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{% url 'daq/choose_experiment' %}">Choose experiment</a></li>
                                <li><a href="/admin">Administration</a></li>
                                <li><a href="{% url 'accounts/logout' %}">Log out</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/doc" target="_blank"><span class="fa fa-question-circle"></span> Help</a>
                        </li>
                    </ul>
                </div>

                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>