<div class="panel panel-default" id="source-status-panel">
    <div class="panel-heading">
        Data Router Status
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Online</th>
            <th>Clean</th>
            <th>Logs</th>
        </tr>
        {% for router in data_routers %}
            <tr>
                <td>{{ router.name }}</td>
                <td data-router-id="{{ router.pk }}" id="{{ router.name }}-online-status">
                    {% if router.is_online %}
                        <span class="fa fa-check-circle text-success"></span>
                    {% else %}
                        <span class="fa fa-times-circle text-danger"></span>
                    {% endif %}
                </td>
                <td data-router-id="{{ router.pk }}" id="{{ router.name }}-clean-status">
                    {% if router.staging_directory_is_clean %}
                        <span class="fa fa-check-circle text-success"></span>
                    {% else %}
                        <span class="fa fa-times-circle text-danger"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'daq/show_log' 'data_router' router.pk %}">
                        <span class="icon-btn fa fa-search"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<script>
    // Sets the indicator to a check mark if status is true, or an X otherwise
    function set_status_indicator($indicator, status) {
        $indicator.removeClass();
        $indicator.addClass('fa');
        if (status) {
            $indicator.addClass('fa-check-circle text-success');
        }
        else {
            $indicator.addClass('fa-times-circle text-danger');
        }
    }

    // Updates the status of the data router with the given id (pk)
    function set_data_router_status(router_id, is_online, is_clean) {
        var $online = $('[id*="online-status"][data-router-id=' + router_id + '] > span');
        var $clean = $('[id*="clean-status"][data-router-id=' + router_id + '] > span');

        set_status_indicator($online, is_online);
        set_status_indicator($clean, is_clean);
    }

    // Make the data router panel be updated when 'daq:refreshState' is fired
    $(document).on('daq:refreshState', function (event, data) {
        $.each(data.data_router_status_list, function(index, value) {
            set_data_router_status(value.pk, value.is_online, value.is_clean);
        });
    });
</script>