<div class="panel panel-default" id="ecc-server-status-panel">
    <div class="panel-heading">
        ECC Server Status
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Logs</th>
            <th>Selected Config</th>
            <th colspan="6">Controls</th>
        </tr>
        {% for ecc_server in ecc_servers %}
            <tr>
                <td>{{ ecc_server.name }}</td>
                <td id="{{ ecc_server.name }}-status-cell" data-ecc-server-id="{{ ecc_server.pk }}">
                                <span class="label label-default" data-ecc-server-id="{{ ecc_server.pk }}"
                                      id="{{ ecc_server.name }}-status-label">
                                    {{ ecc_server.get_state_display }}
                                </span>
                    <span class="fa fa-pulse fa-spinner" id="{{ ecc_server.name }}-status-spinner"
                          data-ecc-server-id="{{ ecc_server.pk }}"></span>
                </td>
                <td>
                    <a href="{% url 'daq/show_log' 'ecc' ecc_server.pk %}">
                        <span class="icon-btn fa fa-search"></span>
                    </a>
                </td>
                <td>
                    {{ ecc_server.selected_config }}
                    <a href="{% url 'daq/choose_config' ecc_server.pk %}">
                        <span class="icon-btn source-ctrl-btn fa fa-pencil" title="Choose" data-toggle="tooltip"
                              id="{{ ecc_server.name }}-choose-config-btn"
                              data-placement="bottom"></span>
                    </a>
                </td>
                <td width="35px" class="text-center">
                                <span class="icon-btn source-ctrl-btn fa fa-server" title="Describe"
                                      id="{{ ecc_server.name }}-describe-transition-btn"
                                      data-daq-state-target="{{ ecc_server.DESCRIBED }}"
                                      data-ecc-server-id="{{ ecc_server.pk }}" data-toggle="tooltip"
                                      data-placement="bottom">
                                </span>
                </td>
                <td width="35px" class="text-center">
                                <span class="icon-btn source-ctrl-btn fa fa-link" title="Prepare"
                                      id="{{ ecc_server.name }}-prepare-transition-btn"
                                      data-daq-state-target="{{ ecc_server.PREPARED }}"
                                      data-ecc-server-id="{{ ecc_server.pk }}" data-toggle="tooltip"
                                      data-placement="bottom">
                                </span>
                </td>
                <td width="35px" class="text-center">
                                <span class="icon-btn source-ctrl-btn fa fa-cog" title="Configure"
                                      id="{{ ecc_server.name }}-configure-transition-btn"
                                      data-daq-state-target="{{ ecc_server.READY }}"
                                      data-ecc-server-id="{{ ecc_server.pk }}" data-toggle="tooltip"
                                      data-placement="bottom">
                                </span>
                </td>
                <td width="35px" class="text-center">
                                <span class="icon-btn source-ctrl-btn fa fa-play" title="Start"
                                      id="{{ ecc_server.name }}-start-transition-btn"
                                      data-daq-state-target="{{ ecc_server.RUNNING }}"
                                      data-ecc-server-id="{{ ecc_server.pk }}" data-toggle="tooltip"
                                      data-placement="bottom">
                                </span>
                </td>
                <td width="35px" class="text-center">
                                <span class="icon-btn source-ctrl-btn fa fa-stop" title="Stop"
                                      id="{{ ecc_server.name }}-stop-transition-btn"
                                      data-daq-state-target="{{ ecc_server.READY }}"
                                      data-ecc-server-id="{{ ecc_server.pk }}" data-toggle="tooltip"
                                      data-placement="bottom">
                                </span>
                </td>
                <td width="35px" class="text-center">
                                <span class="icon-btn source-ctrl-btn fa fa-repeat" title="Reset"
                                      id="{{ ecc_server.name }}-reset-transition-btn"
                                      data-daq-state-target="{{ ecc_server.RESET }}"
                                      data-ecc-server-id="{{ ecc_server.pk }}" data-toggle="tooltip"
                                      data-placement="bottom">
                                </span>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<script>
    // Returns a class to set the color of the status label
    function get_label_class(state_name) {
        if (state_name == 'Idle') {
            return 'label-idle';
        }
        else if (state_name == 'Described') {
            return 'label-described';
        }
        else if (state_name == 'Prepared') {
            return 'label-prepared';
        }
        else if (state_name == 'Ready') {
            return 'label-ready';
        }
        else if (state_name == 'Running') {
            return 'label-running';
        }
        else {
            return 'label-error';
        }
    }

    // Updates the given status label based on the given state name
    function set_label($label, state_name) {
        $label.text(state_name);

        $label.removeClass();
        $label.addClass('label');
        $label.addClass(get_label_class(state_name));
    }

    // Updates the status of the source with the given id (pk)
    function set_ecc_server_status(ecc_server_id, state_name, is_transitioning) {
        var $label = $('[id*="status-label"][data-ecc-server-id=' + ecc_server_id + ']');
        var $spinner = $('[id*="status-spinner"][data-ecc-server-id=' + ecc_server_id + ']');

        // Update the text and color of the status label
        set_label($label, state_name);

        // Update spinner and visibility
        if (is_transitioning) {
            $spinner.show();
            $label.hide();
        }
        else {
            $spinner.hide();
            $label.show();
        }
    }

    // Tells a single source to perform a transition
    function change_state(pk, target) {
        return $.post("{% url 'daq/source_change_state' %}",
                {pk: pk, target_state: target, csrfmiddlewaretoken: '{{ csrf_token }}'});
    }

    // Make the ECC server panel be updated when 'daq:refreshState' is fired
    $(document).on('daq:refreshState', function (event, data) {
        $.each(data.ecc_server_status_list, function(index, value) {
            set_ecc_server_status(value.pk, value.state_name, value.transitioning)
        });
    });

    // Add click handlers to the source control buttons
    $(document).ready(function () {
        $("[id*='transition-btn']").click(function () {
            var pk = $(this).data('ecc-server-id');
            var target = $(this).data('daq-state-target');
            change_state(pk, target).success(function (data) {
                $(document).trigger('daq:refreshState', data);
            });
        });
    });
</script>
