{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Status - AT-TPC DAQ{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            {% include 'daq/status_page/run_info_panel.html' %}
            {% include 'daq/status_page/ecc_server_status_panel.html' %}
            {% include 'daq/status_page/data_router_status_panel.html' %}
            <div id="log-panel">
                {% include 'logs/log_list_panel_fragment.html' %}
            </div>
        </div>
        <div class="col-md-3">
            {% include 'daq/status_page/system_status_panel.html' %}
            {% include 'daq/status_page/control_panel.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // Makes an AJAX call to get the current state of the system.
        function refresh_state_all() {
            return $.get("{% url 'daq/source_refresh_state_all' %}");
        }

        // Gets the current state and fires refreshState to update the page.
        function check_for_state_changes() {
            refresh_state_all().success(function (data) {
                $(document).trigger('daq:refreshState', data);
            });
        }

        // Fetches and redraws the recent logs panel
        function update_log_panel() {
            $('[id*="log-panel"]').load("{% url 'logs/recent_panel' %}");
        }

        $(document).ready(function() {
            // Enable tooltips
            $('[data-toggle="tooltip"]').tooltip();

            // Check periodically for changes in state
            check_for_state_changes();
            update_log_panel();
            setInterval(check_for_state_changes, 5000);
            setInterval(update_log_panel, 5000);
        });
    </script>
{% endblock %}