{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生详情页</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/view.basic.css' %}">
</head>
<body>
    <div id="header_outer">
        <div id="header_container">
            <div id="left">
                <div><img src="{% static 'img/logo.png' %}"></div>
                <div>学员详情</div>
            </div>
        </div>
    </div>

    <div id="content_container">
        <div><img src="{% static 'img/bigpic.png' %}"></div>
        <div class="detail">
            <div  class='label'  >学号：</div>
            <div><input type="text" id="sno" name="sno" disabled value='{{ student.0 }}' class="form-control" style="width:100px"></div>
            <div class='label' >姓名：</div>
            <div><input type="text" id="name" name="name"  disabled value='{{ student.1 }}' class="form-control" style="width:100px"></div>
            <div class='label'>性别：</div>
            <div><input type="text" id="gender" name="gender" disabled value='{{ student.2 }}' class="form-control" style="width:100px"></div>
            <div class='label'>出生日期：</div>
            <div><input type="text" id="birthday" name="birthday" disabled value='{{ student.3 }}' class="form-control" style="width:300px"></div>
            <div class='label'>手机号码：</div>
            <div><input type="text" id="mobile" name="mobile" disabled value='{{ student.4 }}' class="form-control" style="width:300px;"></div>
            <div class='label'>邮箱地址：</div>
            <div><input type="text" id="email" name="email" disabled value='{{ student.5 }}' class="form-control" style="width:350px;"></div>
            <div class='label'>家庭住址：</div>
            <div><input type="text" id="address" name="address" disabled value='{{ student.6 }}' class="form-control" style="width:350px;"></div>
        </div>
    </div>
    <div id="footer_container">
        学生信息管理系统v1.10 @ 版权所有 Steven Wang
    </div>
</body>
</html>