{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Data Sources - AT-TPC DAQ{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>
                <span>Data sources</span>
                <div class="pull-right">
                    <a class="btn btn-primary btn-xs" href="{% url 'daq/add_source' %}">
                        <span class="fa fa-plus"></span> Add
                    </a>
                    <a class="btn btn-default btn-xs" href="{% url 'daq/upload_datasource_list' %}">
                        <span class="fa fa-upload"></span> Upload
                    </a>
                    <a class="btn btn-default btn-xs" href="{% url 'daq/download_datasource_list' %}">
                        <span class="fa fa-download"></span> Download
                    </a>
                </div>
            </span>
        </div>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>ECC server</th>
                <th>Data router</th>
                <th></th>
            </tr>
            {% for source in datasource_list %}
            <tr>
                <td>{{ source.name }}</td>
                <td>{{ source.ecc_server|default:'None' }}</td>
                <td>{{ source.data_router|default:'None' }}</td>
                <td class="text-right">
                    <a role="button" class="btn btn-xs btn-default"
                       href="{% url 'daq/update_source' source.pk %}">
                        <span class="glyphicon glyphicon-wrench"></span> Edit
                    </a>
                    <a role="button" class="btn btn-xs btn-danger"
                       href="{% url 'daq/remove_source' source.pk %}">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}