{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Run Metadata - AT-TPC DAQ{% endblock %}


{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Run information</span>
            <div class="pull-right">
                <a class="btn btn-default btn-xs" href="{% url 'daq/download_run_metadata' %}">
                    <span class="fa fa-download"></span> Download as CSV
                </a>
            </div>
        </div>
        <table class="table table-hover">
            <tr>
                <th>Run number</th>
                <th>Type</th>
                <th>Run title</th>
                <th>Config used</th>
                <th>Start</th>
                <th>Stop</th>
                <th>Duration</th>
                <th></th>
            </tr>
            {% for run in runmetadata_list %}
                {% if run.run_class == run.PRODUCTION %}
                    <tr class="success">
                {% elif run.run_class == run.TESTING %}
                    <tr class="warning">
                {% elif run.run_class == run.JUNK %}
                    <tr class="danger">
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ run.run_number }}</td>
                    <td>{{ run.get_run_class_display }}</td>
                    <td>{{ run.title }}</td>
                    <td>{{ run.config_name }}</td>
                    <td>{{ run.start_datetime|date:'d-M-Y H:i:s' }}</td>
                    <td>{{ run.stop_datetime|date:'d-M-Y H:i:s' }}</td>
                    <td>{{ run.duration }}</td>
                    <td class="text-right">
                        <a class="btn btn-xs btn-default" href="{% url 'daq/update_run_metadata' run.pk %}">
                            <span class="fa fa-wrench"></span> Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}