<!-- post.html --- 
;; 
;; Description: 
;; Author: Hongyi Wu(吴鸿毅)
;; Email: wuhongyi@qq.com 
;; Created: 四 3月 21 06:57:43 2019 (+0800)
;; Last-Updated: 四 3月 21 06:58:15 2019 (+0800)
;;           By: Hongyi Wu(吴鸿毅)
;;     Update #: 1
;; URL: http://wuhongyi.cn -->

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>aaaabbbbcccc</title>
</head>
<body>
    <form action="/search-post" method="post">
        {% csrf_token %}
        <input type="text" name="q">
        <input type="submit" value="Submit">
    </form>
 
    <p>{{ rlt }}</p>
</body>
</html>

<!-- post.html ends here -->
