{% load static %}

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>HiRA elog</title>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js//popper.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/GenieStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      $(document).ready(function(){
        var applyChange = function() {
          var scaler1 = $('input[name=scaler1]').val();
          var scaler2 = $('input[name=scaler2]').val();
          var scaler3 = $('input[name=scaler3]').val();
          $('input[name=calc1]').attr('placeholder', scaler3/scaler1);
          $('input[name=calc2]').attr('placeholder', scaler3/scaler2);
          $('input[name=calc3]').attr('placeholder', scaler1/scaler2);
        };

        applyChange();

        $('input[name=scaler1]').keyup(applyChange);
        $('input[name=scaler2]').keyup(applyChange);
        $('input[name=scaler3]').keyup(applyChange);
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-sm-10">
          <h1>Log detail</h1>
        </div>
      </div>
      <form action="{% url 'elog:modifyLog' log.id %}" method="post">
        {% csrf_token %}
        <div class="form-group row justify-content-sm-center">
          <div class="col-sm-5" style="text-align:left">
            <a href="{% url 'elog:index' %}"><button type="button" class="btn btn-secondary btn-sm">Back</button></a>
          </div>
          <div class="col-sm-5" style="text-align:right">
            <input type="submit" class="btn btn-primary btn-sm" value="Save modifications">
          </div>
        </div>
        <div class="form-row justify-content-sm-center">
          <div class="form-group col-sm-2">
            <label for="runNumber">Run number</label>
            <input type="number" class="form-control form-control-sm" name="runNumber" value="{{ log.run_number }}">
          </div>
          <div class="form-group col-sm-3">
            <label for="startTime">Start time</label>
            <input type="text" class="form-control form-control-sm" name="startTime" placeholder="{{ log.start_time|date:"m/d/Y H:i:s" }}" readonly>
          </div>
          <div class="form-group col-sm-3">
            <label for="stopTime">Stop time</label>
            <input type="text" class="form-control form-control-sm" name="stopTime" placeholder="{{ log.stop_time|date:"m/d/Y H:i:s" }}" readonly>
          </div>
          <div class="form-group col-sm-2">
            <label for="runLength">Run length</label>
            <input type="text" class="form-control form-control-sm" name="runLength" placeholder="{{ log.getDuration }}" readonly>
          </div>
        </div>
        <div class="form-row justify-content-sm-center">
          <div class="form-group col-sm-2">
          </div>
          <div class="form-group col-sm-2">
            <label for="fc73Begin">FC73</label>
            <div class="form-row">
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="fc73Begin" step="0.00001" value="{{ log.fc73_begin }}">
              </div>
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="fc73End" step="0.00001" value="{{ log.fc73_end }}">
              </div>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label for="fc74Begin">FC74</label>
            <div class="form-row">
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="fc74Begin" step="0.00001" value="{{ log.fc74_begin }}">
              </div>
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="fc74End" step="0.00001" value="{{ log.fc74_end }}">
              </div>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label for="fc75Begin">FC75</label>
            <div class="form-row">
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="fc75Begin" step="0.00001" value="{{ log.fc75_begin }}">
              </div>
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="fc75End" step="0.00001" value="{{ log.fc75_end }}">
              </div>
            </div>
          </div>
          <div class="form-group col-sm-2">
          </div>
        </div>
        <div class="form-row justify-content-sm-center">
          <div class="form-group col-sm-2">
            <label for="scribe">Scribe</label>
            <input type="text" class="form-control form-control-sm" name="scribe" value="{{ log.scribe }}" required>
          </div>
          <div class="form-group col-sm-2">
            <label for="d1">D1</label>
            <div class="form-row">
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="d1Begin" step="0.00001" value="{{ log.d1_begin }}">
              </div>
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="d1End" step="0.00001" value="{{ log.d1_end }}">
              </div>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label for="d2">D2</label>
            <div class="form-row">
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="d2Begin" step="0.00001" value="{{ log.d2_begin }}">
              </div>
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="d2End" step="0.00001" value="{{ log.d2_end }}">
              </div>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label for="icGasPressureBegin">S800 IC Gas Pressure</label>
            <div class="form-row">
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="icGasPressureBegin" step="0.0001" value="{{ log.ic_gas_pressure_begin }}">
              </div>
              <div class="col">
                <input type="number" class="form-control form-control-sm" name="icGasPressureEnd" step="0.0001" value="{{ log.ic_gas_pressure_end }}">
              </div>
            </div>
          </div>
          <div class="form-group col-sm-2">
          </div>
        </div>
        <div class="form-row justify-content-sm-center">
          <div class="form-group col-sm-2">
            <label for="runType">Run type</label>
            <select class="form-control form-control-sm" name="runType">
              <option value="-1">----</option>
              {% for runTypeText in log.runTypeText %}
              <option value={{ forloop.counter0 }} {% if log.run_type == forloop.counter0 %} selected {% endif %}>{{ runTypeText }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-sm-2">
            <label for="triggerType">Trigger type</label>
            <select class="form-control form-control-sm" name="triggerType">
              <option value="-1">----</option>
              {% for triggerTypeText in log.triggerTypeText %}
              <option value={{ forloop.counter0 }} {% if log.trigger_type == forloop.counter0 %} selected {% endif %}>{{ triggerTypeText }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-sm-1">
            <label for="scaler1">OBJ Scint</label>
            <input type="number" class="form-control form-control-sm" name="scaler1" step="1" value="{{ log.scaler1 }}">
          </div>
          <div class="form-group col-sm-1">
            <label for="scaler2">XFP Scint</label>
            <input type="number" class="form-control form-control-sm" name="scaler2" step="1" value="{{ log.scaler2 }}">
          </div>
          <div class="form-group col-sm-1">
            <label for="scaler3">Red&Blue</label>
            <input type="text" class="form-control form-control-sm" name="scaler3" step="1" value="{{ log.scaler3 }}">
          </div>
          <div class="form-group col-sm-1">
            <label for="calc1">R&B/OBJ</label>
            <input type="text" class="form-control form-control-sm" name="calc1" placeholder="" readonly>
          </div>
          <div class="form-group col-sm-1">
            <label for="calc2">R&B/XFP</label>
            <input type="text" class="form-control form-control-sm" name="calc2" placeholder="" readonly>
          </div>
          <div class="form-group col-sm-1">
            <label for="calc3">OBJ/XFP</label>
            <input type="text" class="form-control form-control-sm" name="calc3" placeholder="" readonly>
          </div>
        </div>
        <div class="form-row justify-content-sm-center">
          <div class="form-group col-sm-10">
            <label for="title">Title</label>
            <input type="text" class="form-control form-control-sm" name="title" value="{{ log.title }}">
          </div>
        </div>
        <div class="form-row justify-content-sm-center">
          <div class="form-group col-sm-10">
            <label for="note">Note</label>
            <textarea class="form-control form-control-sm" name="note" rows="8">{{ log.note }}</textarea>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
