{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}Measurements - AT-TPC DAQ{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>
                <span>Measurements</span>
                <div class="pull-right">
                <a class="btn btn-default btn-xs" href="{% url 'daq/download_run_metadata' %}">
                    <span class="fa fa-download"></span> Download as CSV
                </a>
            </div>
            </span>
        </div>
        <div id="measurement-chart">
            <table class="table table-bordered">
                <tr>
                    <th>Run</th>
                    {% for observable in observables %}
                        <th>
                            {{ observable.name }}{% if observable.units %} [{{ observable.units }}]{% endif %}
                        </th>
                    {% endfor %}
                </tr>
                {% for run in runs %}
                    <tr>
                        <td>{{ run.run_number }}</td>
                        {% for observable in observables %}
                            {% with run_measurements=measurements|get_item:run.run_number %}
                                <td>{{ run_measurements|get_item:observable.name }}</td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}